*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


// responsiv
@import "./mixins";


// pages
@import "./pages/navbar";
@import "./pages/section";
@import "./pages/about";
@import "./pages/project";
@import "./pages/contact";
@import "./pages/footer";


